/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
	background : url(../img/honey_im_subtle.png);
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    color: #5CB7CA;
    font-weight: bold;
    text-decoration: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
     #container {
         width : 960px;
         margin: 0 auto 0 auto;
     }
     #container aside{
        width : 300px;
        float : left;
         position: fixed;
     }

    #container aside h1{
        font-size: 3.5em;
        line-height: 1em;
        margin: 10px 0 20px 0;
        border-bottom: 5px dashed #636363;
        padding: 0 0 20px 20px;
        width : 250px;
    }
    #container aside .profilePhoto{
        display: none;
        border: 10px solid white;
        width: 104px;
        height: 150px;
        margin: 0 auto 0 auto;
        -moz-box-shadow: 0px 0px 10px 0px #656565;
        -webkit-box-shadow: 0px 0px 10px 0px #656565;
        -o-box-shadow: 0px 0px 10px 0px #656565;
        box-shadow: 0px 0px 10px 0px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
    }

    #container aside .profilePhoto img{
        max-width: 150px;
        max-height: 150px;
    }

    #container aside ul#info{
		list-style: none;
		min-height: 200px;
		padding-left: 15px;
		border-bottom: 5px dashed #636363;
		width: 255px;
    }
    #container aside ul#info li > div{
        height : 40px;
        float : left;

    }
    #container aside ul#info li .icon{
        width : 40px;
        opacity : 0.7;
    }

    #container aside ul#info li .content{
        padding: 0 0 0 10px;
        width : 200px;
        line-height: 40px;
        font-size: 1.1em;
    }
    #container aside ul#info li.address .content{
        padding : 5px 0 0  10px;
        font-size: 0.9em;
        line-height: 16px;
    }

    #container aside ul#info li.miscInfo .content{
        padding : 0px 0 0  10px;
        font-size: 1em;
        line-height: 20px;
    }


    #container section{
		background : url(../img/egg_shell.png);
        margin-left : 300px;
        float : left;
        width : 660px;
        -moz-box-shadow: -0px -5px 40px 5px #9b9b9b;
        -webkit-box-shadow: -0px -5px 40px 5px #9b9b9b;
        -o-box-shadow: -0px -5px 40px 5px #9b9b9b;
        box-shadow: -0px -5px 40px 5px #9b9b9b;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=15);
        min-height: 800px;
    }

    #container section header.currentJobTitle{
        font-size: 3em;
        text-align: center;
        padding: 10px;
         font-weight: bold;
        margin: 0px 0 0px 0;
    }
    #container section header.currentJobTitle .icons .icon{
        display: inline-block;
    }



    #container section article{
        min-height: 200px;
        margin-bottom: 10px;
    }
    #container section article .header{
        height : 45px;
    }
    #container section article .header header{
        background: #5CB7CA;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 10px 10px 20px;
        font-size: 1.1em;
        /*text-shadow: 0.1em 0.1em 0.2em black;*/
        margin-left: 0px;
        width: 600px;
       /* border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;*/
        float : left;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        -transition :  all 1s ease-in;
       /* -moz-box-shadow: 0px 5px 10px 0px #656565;
        -webkit-box-shadow: 0px 5px 10px 0px #656565;
        -o-box-shadow: 0px 5px 10px 0px #656565;
        box-shadow: 0px 5px 10px 0px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=10);*/
    }

    #container section article:hover .header header{
        width : 600px!important;
    }
    #container section article .header .rightBorder{
        float: left;
        border-left: 15px solid #5CB7CA ;
        border-top: 1.25em solid transparent;
        border-bottom: 1.25em solid transparent;
    }
    #container section article#scholarship .header header{
        background: #D15E34;
        width: 500px;
    }

    #container section article#scholarship .header .rightBorder{
        border-left-color: #D15E34;
    }

    #container section article#languages .header header{
        background: #E49738;
        width: 400px;
    }

    #container section article#languages .header .rightBorder{
        border-left-color: #E49738;
    }
    #container section article#skills .header header{
        background: #97B43B;
        width: 320px;
    }
    #container section article#skills .header .rightBorder{
        border-left-color: #97B43B;
    }

    #container section article#hobbies .header header{
        background: #443C2F;
        width: 200px;
    }

    #container section article#hobbies .header .rightBorder{
        border-left-color: #443C2F;
    }


    #container section article .element{
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -transition :  all 0.5s ease-in;
        padding: 10px 10px 10px 20px;
        opacity: 0.75;
    }
    #container section article .element:hover{
         color :black;
        opacity: 1;
    }
    #container section article .element header{

        width: 590px;

    }


    #container section article .element header .jobAndCompany{
        display : inline-block;
        width : 380px;
        font-size: 1.5em;
    }

    #container section article .element header .jobAndCompany a{
        color : black;
        font-weight: normal;
        font-size: 0.9em;
        opacity: 0.75;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -transition :  all 0.5s ease-in;
    }

    #container section article .element:hover header .jobAndCompany a{
       opacity: 1;

    }
    #container section article .element header .jobAndCompany:first-letter{
        font-size: 1.2em;
        font-weight: bold;
    }
    #container section article .element header .date{
        display : inline-block;
        font-size: 1.2em;
        width: 200px;
        text-align: right;
    }

    #container section article .element header .level{
        display : inline-block;
        font-size: 1.2em;
        width: 200px;
        text-align: right;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -transition :  all 0.5s ease-in;
    }
#container section article .element header .level i{
    width : 18px;
}
    #container section article#languages .element:hover header .level{
        color : #E49738;
    }

    #container section article#skills .element:hover header .level{
        color : #97B43B;
    }

    #container section article .element .content{
        font-size: 0.9em;
        border-top: 2px dashed #636363;
        padding-top: 5px;
        width : 585px;

    }

    #container section article .element .content > i{
        margin-right: 5px;
        width: 15px;
        display: inline-block;

    }
    #container section article .element .content ul{
        margin: 0px;
        list-style: none;
        padding: 0 0 0 10px;
    }


    #container section article .element footer{
        margin-top: 10px;
    }
    #container section article .element footer a{
        color : black;
        opacity: 0.75;
    }
    #container section article .element footer .map{
        margin: 0 0 5px 0;
    }
    #container section article .element footer .map i{
        font-size: 1.5em;
        margin : 0 15px 0 5px;
    }

    #container section article .element footer .skills i{
        font-size: 1.4em;
        margin : 0 5px 0 0px;
    }

    #container section article .element footer .skills .links{
        display : inline-block;
        width: 590px;
        vertical-align: top;
    }

    #container section article .delimiter{
        border-bottom: 1px solid #5CB7CA;
        height : 1px;
        width : 600px;
        opacity: 0.5;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -transition :  all 0.5s ease-in;
    }
    #container section article:hover .delimiter{
       opacity: 1;
    }
    #container section article#scholarship .element .content     a {
        color : #D15E34;
    }
    #container section article#scholarship  .delimiter{
        border-bottom: 1px solid #D15E34;
    }
    #container section article#languages  .delimiter{
        border-bottom: 1px solid #E49738;
    }
    #container section article#skills  .delimiter{
        border-bottom: 1px solid #97B43B;
    }
#container section article#hobbies .element  header ul{
    padding: 0px;
    list-style: none;
    margin: 0px;
    font-size: 1.0em;
    color : #443C2F;
}
    #container section article#hobbies .element  header ul li i{
        margin-right: 15px;
        width: 15px;
        display: inline-block;
    }
#container section article#hobbies .element header ul li::first-letter{
      font-size: 1.3em;
    }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
